/* 
 * This sample CSS page is for checking the 
 * simple, do-it-yourself web server students 
 * build in the first week of CIS 322. 
 */
.banner {
    background-color: rgb(153, 204, 255); 
    color:rgb(102, 51, 0);
}

.main-text {
    background-color: rgb(204, 255, 204);
    color: black;
}
